[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs = ">=1.3.0"
mkdocs-material-extensions = ">=1.0.3"
pymdown-extensions = ">=9.4"
requests = ">=2.26"
lxml = ">=4.6"
mkdocs-minify-plugin = ">=0.5.0"
mkdocs-redirects = ">=1.0.4"
mkdocs-awesome-pages-plugin = ">=2.7.0"
Jinja2 = ">=2.11.1,<3.1"
Markdown = ">=3.2"
Pygments = ">=2.12"
CairoSVG = ">=2.5"
Pillow = ">=8.0"
mkdocs-material = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
version = "mkdocs --version"
help = "mkdocs --help"
serve = "inv serve"
build = "mkdocs build"
deploy = "mkdocs gh-deploy"
