
        {% extends "overrides/main.html" %}
        {% block content %}
        <section>
        <div>
            <div>
                <div>
                    <h1>Professions</h1>
        <table border="0" class="dataframe" id="professions">
  <thead>
    <tr style="text-align: right;">
      <th>API ID</th>
      <th>Profession</th>
      <th>Specialization IDs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Guardian</td>
      <td>Guardian</td>
      <td>42</td>
    </tr>
    <tr>
      <td>Guardian</td>
      <td>Guardian</td>
      <td>16</td>
    </tr>
    <tr>
      <td>Guardian</td>
      <td>Guardian</td>
      <td>13</td>
    </tr>
    <tr>
      <td>Guardian</td>
      <td>Guardian</td>
      <td>49</td>
    </tr>
    <tr>
      <td>Guardian</td>
      <td>Guardian</td>
      <td>46</td>
    </tr>
    <tr>
      <td>Guardian</td>
      <td>Guardian</td>
      <td>27</td>
    </tr>
    <tr>
      <td>Guardian</td>
      <td>Guardian</td>
      <td>62</td>
    </tr>
    <tr>
      <td>Guardian</td>
      <td>Guardian</td>
      <td>65</td>
    </tr>
    <tr>
      <td>Warrior</td>
      <td>Warrior</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Warrior</td>
      <td>Warrior</td>
      <td>36</td>
    </tr>
    <tr>
      <td>Warrior</td>
      <td>Warrior</td>
      <td>22</td>
    </tr>
    <tr>
      <td>Warrior</td>
      <td>Warrior</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Warrior</td>
      <td>Warrior</td>
      <td>51</td>
    </tr>
    <tr>
      <td>Warrior</td>
      <td>Warrior</td>
      <td>18</td>
    </tr>
    <tr>
      <td>Warrior</td>
      <td>Warrior</td>
      <td>61</td>
    </tr>
    <tr>
      <td>Warrior</td>
      <td>Warrior</td>
      <td>68</td>
    </tr>
    <tr>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>38</td>
    </tr>
    <tr>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>47</td>
    </tr>
    <tr>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>29</td>
    </tr>
    <tr>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>21</td>
    </tr>
    <tr>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>43</td>
    </tr>
    <tr>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>57</td>
    </tr>
    <tr>
      <td>Engineer</td>
      <td>Engineer</td>
      <td>70</td>
    </tr>
    <tr>
      <td>Ranger</td>
      <td>Ranger</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Ranger</td>
      <td>Ranger</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Ranger</td>
      <td>Ranger</td>
      <td>33</td>
    </tr>
    <tr>
      <td>Ranger</td>
      <td>Ranger</td>
      <td>25</td>
    </tr>
    <tr>
      <td>Ranger</td>
      <td>Ranger</td>
      <td>32</td>
    </tr>
    <tr>
      <td>Ranger</td>
      <td>Ranger</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Ranger</td>
      <td>Ranger</td>
      <td>55</td>
    </tr>
    <tr>
      <td>Ranger</td>
      <td>Ranger</td>
      <td>72</td>
    </tr>
    <tr>
      <td>Thief</td>
      <td>Thief</td>
      <td>28</td>
    </tr>
    <tr>
      <td>Thief</td>
      <td>Thief</td>
      <td>35</td>
    </tr>
    <tr>
      <td>Thief</td>
      <td>Thief</td>
      <td>20</td>
    </tr>
    <tr>
      <td>Thief</td>
      <td>Thief</td>
      <td>54</td>
    </tr>
    <tr>
      <td>Thief</td>
      <td>Thief</td>
      <td>44</td>
    </tr>
    <tr>
      <td>Thief</td>
      <td>Thief</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Thief</td>
      <td>Thief</td>
      <td>58</td>
    </tr>
    <tr>
      <td>Thief</td>
      <td>Thief</td>
      <td>71</td>
    </tr>
    <tr>
      <td>Elementalist</td>
      <td>Elementalist</td>
      <td>31</td>
    </tr>
    <tr>
      <td>Elementalist</td>
      <td>Elementalist</td>
      <td>41</td>
    </tr>
    <tr>
      <td>Elementalist</td>
      <td>Elementalist</td>
      <td>26</td>
    </tr>
    <tr>
      <td>Elementalist</td>
      <td>Elementalist</td>
      <td>17</td>
    </tr>
    <tr>
      <td>Elementalist</td>
      <td>Elementalist</td>
      <td>37</td>
    </tr>
    <tr>
      <td>Elementalist</td>
      <td>Elementalist</td>
      <td>48</td>
    </tr>
    <tr>
      <td>Elementalist</td>
      <td>Elementalist</td>
      <td>56</td>
    </tr>
    <tr>
      <td>Elementalist</td>
      <td>Elementalist</td>
      <td>67</td>
    </tr>
    <tr>
      <td>Mesmer</td>
      <td>Mesmer</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Mesmer</td>
      <td>Mesmer</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Mesmer</td>
      <td>Mesmer</td>
      <td>45</td>
    </tr>
    <tr>
      <td>Mesmer</td>
      <td>Mesmer</td>
      <td>23</td>
    </tr>
    <tr>
      <td>Mesmer</td>
      <td>Mesmer</td>
      <td>24</td>
    </tr>
    <tr>
      <td>Mesmer</td>
      <td>Mesmer</td>
      <td>40</td>
    </tr>
    <tr>
      <td>Mesmer</td>
      <td>Mesmer</td>
      <td>59</td>
    </tr>
    <tr>
      <td>Mesmer</td>
      <td>Mesmer</td>
      <td>66</td>
    </tr>
    <tr>
      <td>Necromancer</td>
      <td>Necromancer</td>
      <td>53</td>
    </tr>
    <tr>
      <td>Necromancer</td>
      <td>Necromancer</td>
      <td>39</td>
    </tr>
    <tr>
      <td>Necromancer</td>
      <td>Necromancer</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Necromancer</td>
      <td>Necromancer</td>
      <td>19</td>
    </tr>
    <tr>
      <td>Necromancer</td>
      <td>Necromancer</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Necromancer</td>
      <td>Necromancer</td>
      <td>34</td>
    </tr>
    <tr>
      <td>Necromancer</td>
      <td>Necromancer</td>
      <td>60</td>
    </tr>
    <tr>
      <td>Necromancer</td>
      <td>Necromancer</td>
      <td>64</td>
    </tr>
    <tr>
      <td>Revenant</td>
      <td>Revenant</td>
      <td>14</td>
    </tr>
    <tr>
      <td>Revenant</td>
      <td>Revenant</td>
      <td>9</td>
    </tr>
    <tr>
      <td>Revenant</td>
      <td>Revenant</td>
      <td>12</td>
    </tr>
    <tr>
      <td>Revenant</td>
      <td>Revenant</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Revenant</td>
      <td>Revenant</td>
      <td>15</td>
    </tr>
    <tr>
      <td>Revenant</td>
      <td>Revenant</td>
      <td>52</td>
    </tr>
    <tr>
      <td>Revenant</td>
      <td>Revenant</td>
      <td>63</td>
    </tr>
    <tr>
      <td>Revenant</td>
      <td>Revenant</td>
      <td>69</td>
    </tr>
  </tbody>
</table>
            </div>
        </div>
    </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
    <script>
    const table = new simpleDatatables.DataTable("#professions")
    </script>
    {% endblock %} 
    