{% extends "overrides/main.html" %}
{% block content %}
<section>
  <div>
    <div>
      <div>
        <h1>Specializations</h1>
        <table class="dataframe" id="specializations">
          <thead>
            <tr style="text-align: right;">
              <th>API ID</th>
              <th>Specialization</th>
              <th>Profession</th>
              <th>Elite?</th>
              <th>Minor Trait IDs</th>
              <th>Major Trait IDs</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Dueling</td>
              <td>Mesmer</td>
              <td>False</td>
              <td>[706, 710, 707]</td>
              <td>[701, 705, 700, 1889, 1960, 708, 692, 1950, 704]</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Death Magic</td>
              <td>Necromancer</td>
              <td>False</td>
              <td>[856, 839, 1929]</td>
              <td>[820, 857, 1922, 858, 860, 855, 842, 1940, 1694]</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Invocation</td>
              <td>Revenant</td>
              <td>False</td>
              <td>[1778, 1758, 1769]</td>
              <td>[1732, 1761, 1784, 1774, 1760, 1781, 1749, 1791, 1719]</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Strength</td>
              <td>Warrior</td>
              <td>False</td>
              <td>[1446, 1448, 1453]</td>
              <td>[1447, 1451, 1444, 2000, 1338, 1449, 1437, 1454, 1440]</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Druid</td>
              <td>Ranger</td>
              <td>True</td>
              <td>[1874, 1862, 1992]</td>
              <td>[1868, 2016, 1935, 2053, 2001, 2056, 2057, 2058, 2055]</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Explosives</td>
              <td>Engineer</td>
              <td>False</td>
              <td>[432, 517, 429]</td>
              <td>[514, 525, 1882, 482, 1892, 1944, 1541, 505, 1947]</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Daredevil</td>
              <td>Thief</td>
              <td>True</td>
              <td>[1994, 1887, 1837]</td>
              <td>[1933, 2023, 1949, 1884, 1893, 1975, 1833, 1964, 2047]</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Marksmanship</td>
              <td>Ranger</td>
              <td>False</td>
              <td>[1010, 1009, 1011]</td>
              <td>[1021, 1014, 986, 1001, 1000, 1070, 996, 1015, 1698]</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Retribution</td>
              <td>Revenant</td>
              <td>False</td>
              <td>[1783, 1757, 1713]</td>
              <td>[1811, 1728, 1810, 1766, 1782, 1740, 1779, 1770, 1790]</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Domination</td>
              <td>Mesmer</td>
              <td>False</td>
              <td>[685, 694, 1941]</td>
              <td>[686, 682, 687, 693, 713, 712, 681, 680, 1688]</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Tactics</td>
              <td>Warrior</td>
              <td>False</td>
              <td>[1480, 1485, 1481]</td>
              <td>[1469, 1474, 1471, 1486, 1479, 1482, 1667, 1470, 1711]</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Salvation</td>
              <td>Revenant</td>
              <td>False</td>
              <td>[1816, 1821, 1814]</td>
              <td>[1823, 1824, 1822, 1819, 1817, 1818, 1815, 1825, 1820]</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Valor</td>
              <td>Guardian</td>
              <td>False</td>
              <td>[582, 594, 583]</td>
              <td>[588, 581, 633, 580, 584, 1684, 585, 586, 589]</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Corruption</td>
              <td>Revenant</td>
              <td>False</td>
              <td>[1799, 1801, 1744]</td>
              <td>[1793, 1789, 1741, 1727, 1726, 1714, 1795, 1720, 1721]</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Devastation</td>
              <td>Revenant</td>
              <td>False</td>
              <td>[1808, 1724, 1792]</td>
              <td>[1776, 1767, 1755, 1786, 1765, 1802, 1715, 1800, 1754]</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Radiance</td>
              <td>Guardian</td>
              <td>False</td>
              <td>[572, 571, 568]</td>
              <td>[577, 566, 574, 578, 567, 565, 1686, 579, 1683]</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Water</td>
              <td>Elementalist</td>
              <td>False</td>
              <td>[350, 351, 1676]</td>
              <td>[348, 363, 360, 364, 358, 349, 362, 361, 2028]</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Berserker</td>
              <td>Warrior</td>
              <td>True</td>
              <td>[1831, 1993, 2046]</td>
              <td>[2049, 2039, 1977, 2011, 2042, 2002, 1928, 2038, 2043]</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Blood Magic</td>
              <td>Necromancer</td>
              <td>False</td>
              <td>[792, 783, 1931]</td>
              <td>[780, 788, 1876, 789, 799, 1844, 782, 1692, 778]</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Shadow Arts</td>
              <td>Thief</td>
              <td>False</td>
              <td>[1294, 1136, 1705]</td>
              <td>[1160, 1293, 1284, 1297, 1130, 1300, 1134, 1135, 1162]</td>
            </tr>
            <tr>
              <td>21</td>
              <td>Tools</td>
              <td>Engineer</td>
              <td>False</td>
              <td>[1979, 1872, 1936]</td>
              <td>[532, 1997, 531, 512, 1946, 1832, 1856, 523, 1679]</td>
            </tr>
            <tr>
              <td>22</td>
              <td>Defense</td>
              <td>Warrior</td>
              <td>False</td>
              <td>[1350, 1348, 1380]</td>
              <td>[1376, 1488, 1372, 1368, 1379, 1367, 1375, 1649, 1708]</td>
            </tr>
            <tr>
              <td>23</td>
              <td>Inspiration</td>
              <td>Mesmer</td>
              <td>False</td>
              <td>[757, 1852, 1915]</td>
              <td>[756, 738, 744, 751, 740, 1980, 2005, 1866, 752]</td>
            </tr>
            <tr>
              <td>24</td>
              <td>Illusions</td>
              <td>Mesmer</td>
              <td>False</td>
              <td>[734, 723, 731]</td>
              <td>[721, 1869, 691, 722, 729, 1690, 733, 2035, 753]</td>
            </tr>
            <tr>
              <td>25</td>
              <td>Nature Magic</td>
              <td>Ranger</td>
              <td>False</td>
              <td>[1055, 1056, 1059]</td>
              <td>[1062, 978, 1060, 1054, 965, 964, 1038, 1988, 1697]</td>
            </tr>
            <tr>
              <td>26</td>
              <td>Earth</td>
              <td>Elementalist</td>
              <td>False</td>
              <td>[278, 279, 280]</td>
              <td>[282, 1507, 289, 275, 281, 277, 1508, 287, 1674]</td>
            </tr>
            <tr>
              <td>27</td>
              <td>Dragonhunter</td>
              <td>Guardian</td>
              <td>True</td>
              <td>[1848, 1896, 1926]</td>
              <td>[1898, 1983, 1911, 2037, 1835, 1943, 1908, 1963, 1955]</td>
            </tr>
            <tr>
              <td>28</td>
              <td>Deadly Arts</td>
              <td>Thief</td>
              <td>False</td>
              <td>[1279, 1280, 1257]</td>
              <td>[1245, 1276, 1164, 1169, 1292, 1704, 1291, 1167, 1269]</td>
            </tr>
            <tr>
              <td>29</td>
              <td>Alchemy</td>
              <td>Engineer</td>
              <td>False</td>
              <td>[468, 487, 413]</td>
              <td>[396, 509, 521, 520, 469, 470, 473, 1871, 1854]</td>
            </tr>
            <tr>
              <td>30</td>
              <td>Skirmishing</td>
              <td>Ranger</td>
              <td>False</td>
              <td>[1080, 1083, 1068]</td>
              <td>[1069, 1067, 1075, 1016, 1700, 1846, 1064, 1912, 1888]</td>
            </tr>
            <tr>
              <td>31</td>
              <td>Fire</td>
              <td>Elementalist</td>
              <td>False</td>
              <td>[320, 318, 319]</td>
              <td>[296, 328, 335, 325, 340, 334, 1510, 294, 1675]</td>
            </tr>
            <tr>
              <td>32</td>
              <td>Beastmastery</td>
              <td>Ranger</td>
              <td>False</td>
              <td>[1900, 974, 1065]</td>
              <td>[1861, 1072, 1606, 975, 1047, 970, 1945, 968, 1066]</td>
            </tr>
            <tr>
              <td>33</td>
              <td>Wilderness Survival</td>
              <td>Ranger</td>
              <td>False</td>
              <td>[1096, 1090, 1089]</td>
              <td>[1098, 1086, 1099, 1101, 2032, 1100, 1094, 1699, 1701]</td>
            </tr>
            <tr>
              <td>34</td>
              <td>Reaper</td>
              <td>Necromancer</td>
              <td>True</td>
              <td>[1905, 1879, 2018]</td>
              <td>[1974, 2020, 2026, 1969, 2008, 2031, 1932, 1919, 2021]</td>
            </tr>
            <tr>
              <td>35</td>
              <td>Critical Strikes</td>
              <td>Thief</td>
              <td>False</td>
              <td>[1281, 1210, 1282]</td>
              <td>[1209, 1267, 1268, 1170, 1272, 1299, 1904, 1215, 1702]</td>
            </tr>
            <tr>
              <td>36</td>
              <td>Arms</td>
              <td>Warrior</td>
              <td>False</td>
              <td>[1342, 1343, 1337]</td>
              <td>[1455, 1344, 1334, 1315, 1316, 1333, 1336, 1346, 1707]</td>
            </tr>
            <tr>
              <td>37</td>
              <td>Arcane</td>
              <td>Elementalist</td>
              <td>False</td>
              <td>[268, 264, 2004]</td>
              <td>[253, 266, 1487, 265, 1673, 257, 238, 263, 1511]</td>
            </tr>
            <tr>
              <td>38</td>
              <td>Firearms</td>
              <td>Engineer</td>
              <td>False</td>
              <td>[515, 536, 516]</td>
              <td>[1878, 1930, 1914, 1984, 2006, 1923, 510, 526, 433]</td>
            </tr>
            <tr>
              <td>39</td>
              <td>Curses</td>
              <td>Necromancer</td>
              <td>False</td>
              <td>[802, 803, 810]</td>
              <td>[1883, 2013, 815, 816, 1693, 812, 813, 1696, 801]</td>
            </tr>
            <tr>
              <td>40</td>
              <td>Chronomancer</td>
              <td>Mesmer</td>
              <td>True</td>
              <td>[2030, 1927, 1859]</td>
              <td>[1838, 1995, 1987, 2009, 1913, 1978, 1942, 2022, 1890]</td>
            </tr>
            <tr>
              <td>41</td>
              <td>Air</td>
              <td>Elementalist</td>
              <td>False</td>
              <td>[221, 222, 223]</td>
              <td>[227, 224, 232, 229, 214, 1502, 226, 1503, 1672]</td>
            </tr>
            <tr>
              <td>42</td>
              <td>Zeal</td>
              <td>Guardian</td>
              <td>False</td>
              <td>[648, 646, 649]</td>
              <td>[563, 634, 1925, 628, 653, 1556, 635, 637, 2017]</td>
            </tr>
            <tr>
              <td>43</td>
              <td>Scrapper</td>
              <td>Engineer</td>
              <td>True</td>
              <td>[1959, 2014, 1877]</td>
              <td>[1917, 1971, 1867, 1954, 1999, 1860, 1981, 2052, 1849]</td>
            </tr>
            <tr>
              <td>44</td>
              <td>Trickery</td>
              <td>Thief</td>
              <td>False</td>
              <td>[1137, 1232, 1157]</td>
              <td>[1159, 1252, 1163, 1277, 1286, 1190, 1187, 1158, 1706]</td>
            </tr>
            <tr>
              <td>45</td>
              <td>Chaos</td>
              <td>Mesmer</td>
              <td>False</td>
              <td>[666, 667, 1865]</td>
              <td>[670, 675, 677, 673, 668, 669, 671, 674, 1687]</td>
            </tr>
            <tr>
              <td>46</td>
              <td>Virtues</td>
              <td>Guardian</td>
              <td>False</td>
              <td>[621, 604, 620]</td>
              <td>[624, 625, 617, 603, 610, 587, 622, 554, 612]</td>
            </tr>
            <tr>
              <td>47</td>
              <td>Inventions</td>
              <td>Engineer</td>
              <td>False</td>
              <td>[518, 508, 519]</td>
              <td>[394, 1901, 507, 1678, 1834, 445, 472, 1680, 1916]</td>
            </tr>
            <tr>
              <td>48</td>
              <td>Tempest</td>
              <td>Elementalist</td>
              <td>True</td>
              <td>[2025, 1938, 1948]</td>
              <td>[1952, 1962, 1886, 1891, 1902, 2015, 1839, 2033, 1986]</td>
            </tr>
            <tr>
              <td>49</td>
              <td>Honor</td>
              <td>Guardian</td>
              <td>False</td>
              <td>[564, 551, 1685]</td>
              <td>[1899, 559, 654, 557, 549, 562, 553, 558, 1682]</td>
            </tr>
            <tr>
              <td>50</td>
              <td>Soul Reaping</td>
              <td>Necromancer</td>
              <td>False</td>
              <td>[887, 891, 874]</td>
              <td>[875, 898, 888, 894, 861, 892, 889, 893, 905]</td>
            </tr>
            <tr>
              <td>51</td>
              <td>Discipline</td>
              <td>Warrior</td>
              <td>False</td>
              <td>[1415, 1416, 1417]</td>
              <td>[1329, 1413, 1381, 1484, 1489, 1709, 1369, 1317, 1657]</td>
            </tr>
            <tr>
              <td>52</td>
              <td>Herald</td>
              <td>Revenant</td>
              <td>True</td>
              <td>[1777, 1737, 1788]</td>
              <td>[1813, 1806, 1716, 1738, 1743, 1730, 1746, 1772, 1803]</td>
            </tr>
            <tr>
              <td>53</td>
              <td>Spite</td>
              <td>Necromancer</td>
              <td>False</td>
              <td>[913, 915, 917]</td>
              <td>[914, 916, 1863, 899, 829, 909, 919, 853, 903]</td>
            </tr>
            <tr>
              <td>54</td>
              <td>Acrobatics</td>
              <td>Thief</td>
              <td>False</td>
              <td>[1240, 1234, 1242]</td>
              <td>[1112, 1289, 1237, 1241, 1192, 1290, 1238, 1295, 1703]</td>
            </tr>
            <tr>
              <td>55</td>
              <td>Soulbeast</td>
              <td>Ranger</td>
              <td>True</td>
              <td>[2151, 2156, 2127]</td>
              <td>[2134, 2071, 2072, 2119, 2085, 2161, 2155, 2128, 2143]</td>
            </tr>
            <tr>
              <td>56</td>
              <td>Weaver</td>
              <td>Elementalist</td>
              <td>True</td>
              <td>[2109, 2077, 2081]</td>
              <td>[2177, 2165, 2115, 2180, 2061, 2170, 2131, 2090, 2138]</td>
            </tr>
            <tr>
              <td>57</td>
              <td>Holosmith</td>
              <td>Engineer</td>
              <td>True</td>
              <td>[2158, 2135, 2122]</td>
              <td>[2114, 2157, 2106, 2103, 2152, 2091, 2066, 2137, 2064]</td>
            </tr>
            <tr>
              <td>58</td>
              <td>Deadeye</td>
              <td>Thief</td>
              <td>True</td>
              <td>[2171, 2172, 2084]</td>
              <td>[2145, 2173, 2136, 2118, 2078, 2160, 2111, 2093, 2146]</td>
            </tr>
            <tr>
              <td>59</td>
              <td>Mirage</td>
              <td>Mesmer</td>
              <td>True</td>
              <td>[2150, 2069, 2117]</td>
              <td>[2141, 2082, 2110, 2178, 2174, 2098, 2070, 2113, 2169]</td>
            </tr>
            <tr>
              <td>60</td>
              <td>Scourge</td>
              <td>Necromancer</td>
              <td>True</td>
              <td>[2147, 2121, 2096]</td>
              <td>[2167, 2074, 2102, 2059, 2067, 2123, 2112, 2164, 2080]</td>
            </tr>
            <tr>
              <td>61</td>
              <td>Spellbreaker</td>
              <td>Warrior</td>
              <td>True</td>
              <td>[2175, 2162, 2130]</td>
              <td>[2107, 2153, 2140, 2126, 2097, 2095, 2163, 2168, 2060]</td>
            </tr>
            <tr>
              <td>62</td>
              <td>Firebrand</td>
              <td>Guardian</td>
              <td>True</td>
              <td>[2089, 2062, 2148]</td>
              <td>[2075, 2101, 2086, 2063, 2076, 2116, 2105, 2179, 2159]</td>
            </tr>
            <tr>
              <td>63</td>
              <td>Renegade</td>
              <td>Revenant</td>
              <td>True</td>
              <td>[2181, 2154, 2142]</td>
              <td>[2166, 2079, 2120, 2133, 2092, 2108, 2094, 2100, 2182]</td>
            </tr>
            <tr>
              <td>64</td>
              <td>Harbinger</td>
              <td>Necromancer</td>
              <td>True</td>
              <td>[2183, 2186, 2217]</td>
              <td>[2188, 2219, 2185, 2192, 2220, 2209, 2218, 2194, 2203]</td>
            </tr>
            <tr>
              <td>65</td>
              <td>Willbender</td>
              <td>Guardian</td>
              <td>True</td>
              <td>[2200, 2222, 2189]</td>
              <td>[2191, 2190, 2187, 2197, 2210, 2199, 2195, 2201, 2198]</td>
            </tr>
            <tr>
              <td>66</td>
              <td>Virtuoso</td>
              <td>Mesmer</td>
              <td>True</td>
              <td>[2216, 2204, 2193]</td>
              <td>[2212, 2208, 2202, 2215, 2205, 2207, 2211, 2206, 2223]</td>
            </tr>
            <tr>
              <td>67</td>
              <td>Catalyst</td>
              <td>Elementalist</td>
              <td>True</td>
              <td>[2227, 2250, 2231]</td>
              <td>[2230, 2252, 2224, 2247, 2249, 2234, 2233, 2241, 2251]</td>
            </tr>
            <tr>
              <td>68</td>
              <td>Bladesworn</td>
              <td>Warrior</td>
              <td>True</td>
              <td>[2226, 2242, 2236]</td>
              <td>[2237, 2260, 2225, 2253, 2302, 2303, 2261, 2239, 2245]</td>
            </tr>
            <tr>
              <td>69</td>
              <td>Vindicator</td>
              <td>Revenant</td>
              <td>True</td>
              <td>[2262, 2254, 2229]</td>
              <td>[2258, 2248, 2228, 2259, 2243, 2255, 2257, 2232, 2238]</td>
            </tr>
            <tr>
              <td>70</td>
              <td>Mechanist</td>
              <td>Engineer</td>
              <td>True</td>
              <td>[2291, 2266, 2267]</td>
              <td>[2282, 2296, 2279, 2270, 2276, 2294, 2292, 2281, 2298]</td>
            </tr>
            <tr>
              <td>71</td>
              <td>Specter</td>
              <td>Thief</td>
              <td>True</td>
              <td>[2184, 2272, 2280]</td>
              <td>[2284, 2299, 2275, 2290, 2288, 2285, 2264, 2300, 2289]</td>
            </tr>
            <tr>
              <td>72</td>
              <td>Untamed</td>
              <td>Ranger</td>
              <td>True</td>
              <td>[2268, 2286, 2269]</td>
              <td>[2297, 2277, 2301, 2263, 2287, 2278, 2271, 2283, 2274]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- <script src='https://unpkg.com/vanilla-datatables@latest/dist/vanilla-dataTables.min.js'></script>
  <script id="rendered-js">
    var table = new DataTable("table");
  //# sourceURL=pen.js
  </script> -->
<!-- CDN -->
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>

<!-- Custom Code -->
<script>
  const table = new simpleDatatables.DataTable("#specializations")
</script>
{% endblock %}